<!DOCTYPE html>
    <html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Admin-Log In</title>
                <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        </head>
    <body>
        <!-- This is a header section -->
        <ul class="nav-menu">
                <li><i class="fa-solid fa-book-open-reader" id="logo">  Reads</i></li>
                <li><a href="{{url_for('register')}}">Register</a></li>
                <li><a href="{{url_for('login')}}">Log In</a></li>
        </ul>
        <!-- This is a main content section -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="width: 30%;">
                    <div class="d-flex">
                        <div class="toast-body">
                            {{message}}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            
        <div class="form_box">
            <h1 class="_form-name">Librarian-Login</h1>
            <span class="usertype">Switch to <a href="{{url_for('login')}}">User</a></span>
            <!-- Main Form -->

            <form action="" method="post" >
                <!-- E-mail Lable -->
                    <div class="mb-3">
                        <label for="U_name" class="form-label" >Librarian Id </label>
                        <input type="text" class="form-control" id="U_name" aria-describedby="U_name_info" name="username" required>
                        <div id="U_name_info" class="form-text">We'll never share your Username with anyone else.</div>
                    </div>
                <!-- Password Label -->
                    <div class="mb-3">
                            <label for="_pass" class="form-label">Password</label>
                            <input type="password" class="form-control" id="_pass" name="password" required>
                    </div>
                <!-- Submit Button -->
                            <button type="submit" class="btn btn-primary" style="background-color: #BA1F33; border-color: #91171f;">Submit</button>

            </form>

        </div>
    </body>
</html>