body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(120deg,#ffd9da,#cd5d67);
    height: 100vh;
}
                                            /* Navigation bar */
                                            
/* Basic styling for navigation */
ul.nav-menu {
    list-style: none;
    display: flex;
    background-color: #91171f;
    padding: 15px 0;
    justify-content: right;
    position: relative;
}

/* Styling for each menu item */
ul.nav-menu li {
    margin-right: 10px;
}
/* Styling for the Logo for Laibrary */
#main_logo {
    color: #fff;
    padding-right: 1115px;
}
/* Styling for the Logo for User */
#user_logo {
    color: #fff;
    padding-right: 0px;
}
/* Styling for links within the menu */
ul.nav-menu li a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

/* Change link color on hover */
ul.nav-menu li a:hover {
    background-color: #BA1F33;
}

                                            /* Main Content */
#add-button {
    margin-left: 710px;
    background-color: #BA1F33;
    border-radius: 2px;
    padding: 4px;
    text-decoration: none;
    
}
span a{

    color: #fff;
    border-radius: 2px;
    padding: 6px;
    text-decoration: none;
}
span a:hover{
    color: white;
}